@page
@model Proiect_WEB.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.Nume" class="control-label"></label>
                <input asp-for="Employee.Nume" class="form-control" />
                <span asp-validation-for="Employee.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Prenume" class="control-label"></label>
                <input asp-for="Employee.Prenume" class="form-control" />
                <span asp-validation-for="Employee.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DataAngajarii" class="control-label"></label>
                <input asp-for="Employee.DataAngajarii" class="form-control" />
                <span asp-validation-for="Employee.DataAngajarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DepartamentID" class="control-label">Departament</label>
                <select asp-for="Employee.DepartamentID" class="form-control" asp-items="ViewBag.DepartamentID">
                </select>
                <span asp-validation-for="Employee.DepartamentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Salariu" class="control-label"></label>
                <input asp-for="Employee.Salariu" class="form-control" />
                <span asp-validation-for="Employee.Salariu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Oras" class="control-label"></label>
                <input asp-for="Employee.Oras" class="form-control" />
                <span asp-validation-for="Employee.Oras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.StatusID" class="control-label">Status</label>
                <select asp-for="Employee.StatusID" class="form-control" asp-items="ViewBag.StatusID">
                </select>
                <span asp-validation-for="Employee.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
