@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h6 class="display-4">Bine ati venit!</h6>
    <br /><br />
    <p>Aici puteti vedea, adauga, modifica datele angajatilor societatii noastre.</p>
</div>
